* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
.navbar {
    height: auto;
    width: 100%;
    background-color: lightblue;
    padding: 5px 0px 8px 5px;
    display: flex;
    align-items: center;
    /* gap: 50px; */
}
#logo{
    height: 69px;
    width: 100px;
    margin-right: 400px;
    background-color: black;
    background-image: url(clinova.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#dr_register{
    margin-left: 130px;
    background-color: rgba(78, 170, 201, 0.425);
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}
#login{
    margin-left: 40px;
    background-color: rgba(78, 170, 201, 0.425);
    height: 40px;
    width: 60px;
    padding: 10px;
    border-radius: 10px;
}
#register{
    margin-left: 40px;
    background-color: rgba(78, 170, 201, 0.425);
    height: 40px;
    width: 130px;
    padding-left: 10px;
    padding-top:10px;
    border-radius: 10px;

}
#tagline{
    text-decoration: underline;
}
.menu {
    background-color: rgb(140, 209, 232);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 80px;
}
#dashboard{
    margin-left: 8px;
    background-color: rgba(93, 184, 214, 0.6);
    height:30px;
    width:100px;
    border-radius: 5px;
    padding:5px 0 0 13px;
}
#case-form{
    /* margin-left: 15px; */
    background-color: rgba(93, 184, 214, 0.6);
    height:30px;
    width:100px;
    border-radius: 5px;
    padding:5px
}
/* #register-patient{
    margin-left: 15px;
    background-color: rgba(93, 184, 214, 0.6);
    height:30px;
    width:130px;
    border-radius: 5px;
    padding:5px
} */
#generic-med{
    /* margin-left: 15px; */
    background-color: rgba(93, 184, 214, 0.6);
    height:30px;
    width:150px;
    border-radius: 5px;
    padding:5px 0 0 13px
}
#lab{
    /* margin-left: 15px; */
    background-color: rgba(93, 184, 214, 0.6);
    height:30px;
    width:90px;
    border-radius: 5px;
    padding:5px 0 0 13px;
}
#drlogin{
    margin-left: 520px;
    background-color: rgba(236, 240, 241, 0.425);
    height:30px;
    width:100px;
    border-radius: 5px;
    padding:5px;
}
#appointment{
    margin-left: 15px;
    background-color: rgba(236, 240, 241, 0.425);
    height:30px;
    width:130px;
    border-radius: 5px;
    padding:5px
}
.content {
    text-align: center;
    padding: 40px;
    /* gap: 40px; */
    height: auto;
    width:100%;
    background-color:rgba(223, 222, 222, 0.484)
}
#cap{
    padding-bottom:10px;
}
.contentbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 60px; */
}
#box1{
    height: 80px;
    /* align-items:center; */
    /* margin-inline-start:250px ; */
    width: 500px;
    background-color: rgba(93, 184, 214, 0.6);
    /* border-radius: 10px; */
    border-radius: 0;
    clip-path: polygon(
        15px 0, 100% 0, 100% calc(100% - 15px),
        calc(100% - 15px) 100%, 0 100%, 0 15px
    );
    border: 1px solid rgb(1, 11, 15);
    align-content: center;
    margin-top: 20px;
}
#box2{
    height: 80px;
    width: 500px;
    /* margin-inline-start:250px ; */

    background-color: rgba(93, 184, 214, 0.6);
    /* border-radius: 10px; */
    border-radius: 0;
    clip-path: polygon(
        15px 0, 100% 0, 100% calc(100% - 15px),
        calc(100% - 15px) 100%, 0 100%, 0 15px
    );
    border: 1px solid rgb(1, 11, 15);
    align-content: center;
    margin-top: 20px;
}
.content-2{
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content:space-evenly;
    /* gap: 40px; */
    /* gap: 60px; */
    height: 200px;
    width:100%;
    background-color: rgb(140, 209, 232);
}
#talk{
    height: 80px;
    width: 120px;
    padding: 14px;
    border-radius: 10px;
    background-color: rgba(236, 240, 241, 0.425);
    border: 1px solid rgb(1, 11, 15);
}
#multilingual{
    height: 80px;
    width: 120px;
    padding: 25px 10px;
    border-radius: 10px;
    background-color: rgba(236, 240, 241, 0.425);
    border: 1px solid rgb(1, 11, 15);
}
#emergency{
    height: 80px;
    width: 120px;
    padding: 25px 10px;
    border-radius: 10px;
    background-color: rgba(236, 240, 241, 0.425);
    border: 1px solid rgb(1, 11, 15);
}
#pharmacy{
    height: 80px;
    width: 120px;
    padding: 25px 10px;
    border-radius: 10px;
    background-color: rgba(236, 240, 241, 0.425);
    border: 1px solid rgb(1, 11, 15);
}
.footer{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color:rgb(6, 51, 124);
    padding: 20px;
    font-size: 15px;
}
.footer p{
    margin-top: 5px;
    color:white
}

@media (max-width: 600px) {

    /* NAVBAR */
    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    #logo {
        width: 100px;
        height: 50px;
        background-color: black;
        background-size: cover;
    }

    #tagline h1 {
        font-size: 25px;
    }

    #tagline h2 {
        font-size: 13px;
    }


    /* LOGIN AND REGISTER */
    #login,
    #register {
        font-size: 14px;
    }


    /* MENU */
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .menu div {
        font-size: 13px;
        
    }


    /* MAIN CONTENT */
    .content {
        padding: 30px 15px;
        text-align: center;
    }

    #cap {
        font-size: 28px;
    }

    #subcap {
        font-size: 16px;
    }


    /* BUTTON BOXES */
    .contentbox {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #box1,
    #box2 {
        width: 90%;
        text-align: center;
    }


    /* SECOND CONTENT SECTION */
    .content-2 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        height:auto;
    }

    #talk,
    #multilingual,
    #emergency,
    #pharmacy {
        width: 90%;
        text-align: center;
    }


    /* FOOTER */
    .footer {
        text-align: center;
        padding: 15px;
        height:auto;
    }
}
@media (max-width: 800px) {

    /* NAVBAR */
    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    #logo {
        width: 100px;
        height: 50px;
        background-color: black;
        background-size: cover;
    }

    #tagline h1 {
        font-size: 25px;
    }

    #tagline h2 {
        font-size: 13px;
    }


    /* LOGIN AND REGISTER */
    #login,
    #register {
        font-size: 14px;
    }


    /* MENU */
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .menu div {
        font-size: 13px;
        
    }


    /* MAIN CONTENT */
    .content {
        padding: 30px 15px;
        text-align: center;
    }

    #cap {
        font-size: 28px;
    }

    #subcap {
        font-size: 16px;
    }


    /* BUTTON BOXES */
    .contentbox {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #box1,
    #box2 {
        width: 90%;
        text-align: center;
    }


    /* SECOND CONTENT SECTION */
    .content-2 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        height:auto;
    }

    #talk,
    #multilingual,
    #emergency,
    #pharmacy {
        width: 90%;
        text-align: center;
    }


    /* FOOTER */
    .footer {
        text-align: center;
        padding: 15px;
        height:auto;
    }
}
@media (max-width: 1000px) {

    /* NAVBAR */
    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    #logo {
        width: 100px;
        height: 50px;
        background-color: black;
        background-size: cover;
    }

    #tagline h1 {
        font-size: 25px;
    }

    #tagline h2 {
        font-size: 13px;
    }


    /* LOGIN AND REGISTER */
    #login,
    #register {
        font-size: 14px;
    }


    /* MENU */
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .menu div {
        font-size: 13px;
        
    }


    /* MAIN CONTENT */
    .content {
        padding: 30px 15px;
        text-align: center;
    }

    #cap {
        font-size: 28px;
    }

    #subcap {
        font-size: 16px;
    }


    /* BUTTON BOXES */
    .contentbox {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #box1,
    #box2 {
        width: 90%;
        text-align: center;
    }


    /* SECOND CONTENT SECTION */
    .content-2 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        height:auto;
    }

    #talk,
    #multilingual,
    #emergency,
    #pharmacy {
        width: 90%;
        text-align: center;
    }


    /* FOOTER */
    .footer {
        text-align: center;
        padding: 15px;
        height:auto;
    }
}
@media (max-width: 1400px) {

    /* NAVBAR */
    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    #logo {
        width: 100px;
        height: 50px;
        background-color: black;
        background-size: cover;
    }

    #tagline h1 {
        font-size: 25px;
    }

    #tagline h2 {
        font-size: 13px;
    }


    /* LOGIN AND REGISTER */
    #login,
    #register {
        font-size: 14px;
    }


    /* MENU */
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .menu div {
        font-size: 13px;
        
    }


    /* MAIN CONTENT */
    .content {
        padding: 30px 15px;
        text-align: center;
    }

    #cap {
        font-size: 28px;
    }

    #subcap {
        font-size: 16px;
    }


    /* BUTTON BOXES */
    .contentbox {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #box1,
    #box2 {
        width: 90%;
        text-align: center;
    }


    /* SECOND CONTENT SECTION */
    .content-2 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        height:auto;
    }

    #talk,
    #multilingual,
    #emergency,
    #pharmacy {
        width: 90%;
        text-align: center;
    }


    /* FOOTER */
    .footer {
        text-align: center;
        padding: 15px;
        height:auto;
    }
}