<!DOCTYPE html>
<html>

<head>
    <title>Patient Record</title>
    <link rel="stylesheet" href="/static/style.css" </head>

<body>
    <h2>{{ patient['name'] }} - Age: {{ patient['age'] }}, Gender: {{ patient['gender'] }}</h2>
    <p>Phone: {{ patient['phone'] }}</p>

    <a href="/case_form/{{ patient['id'] }}">+ Add New Case Entry</a>

    <h3>Case History</h3>

    {% if records|length == 0 %}

    <p>No case records yet.</p>

    {% else %}

    {% for record in records %}

    <div class="record">
        <a href="/pregnancy_register">
            Pregnancy Care
        </a>

        <h4>Record Date: {{ record['created_at'] }}</h4>

        <p>
            <strong>Symptoms:</strong>
            {{ record['symptoms'] or 'None reported' }}
        </p>

        <p>
            <strong>Medical History:</strong>
            {{ record['medical_history'] or 'None reported' }}
        </p>

        <p>
            <strong>Vitals:</strong>
            {{ record['vitals'] or 'None recorded' }}
        </p>

        <p>
            <strong>Current Medications:</strong>
            {{ record['medications'] or 'None' }}
        </p>

        <p>
            <strong>Lab Reports:</strong>
            {{ record['lab_reports'] or 'No lab reports' }}
        </p>

        <p>
            <strong>Allergies:</strong>
            {{ record['allergies'] or 'None known' }}
        </p>

    </div>

    <hr>

    {% endfor %}

    {% endif %}
</body>

</html>